.nav {
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;
text-decoration: none;
text-align: center;
position: absolute;
height: 15px;
left: 330px;
top: 31.5px;
}

.body {
    width: 1280px;
    height: 1626px;
    margin-top: 78px;
}


.nav-item {
margin: 32px;
}

a:link {
text-decoration: none;
color: #FF0000;
}
  
a:visited {
text-decoration: none;
color: #FF0000;
}
  
a:hover {
text-decoration: none;
color: #FF0000;
}
  
a:active {
text-decoration: none;
color: #FF0000;
}

img {
display: block;
margin-left: 0px;
margin-right: auto;
}


.header {
    display: inline block;
    border-bottom: 5px black;
    width: 1280px;
    height: 78px;
    background: rgba(0, 0, 0, 0.0001);
}

.simple {
height: 29px;
margin-top: 48px;
font-family: 'Montserrat';
font-style: normal;
text-align: center;
font-weight: 700;
font-size: 22px;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
}

.paragr {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px; 
letter-spacing: 2.4px;
margin: 35px 35px;
color: rgba(55, 55, 55, 1);
}

.paragr.cent {
text-align: center;
}

.paragr.justif {
text-align: justify;
}

button {
position: absolute;
left: 545px; 
margin-top: 35px;
font-family: Montserrat;
font-weight: 700;
line-height: 12px;
letter-spacing: 1.8px;
border: none;
width: 191px;
height: 51px;
color: rgba(255, 255, 255, 1);
background: #FF0000;
border-radius: 4px;
}

footer {
position: absolute;
margin-top: 160px;
margin-left: 713px;
height: 39px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;
color: #373737;
}
